html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.book-treemap {
  position: relative;
  height: 80vh;
  width: 95vw;
  margin: 0 auto;
}

.book-treemap .book {
  will-change: transform;
  transform: translateZ(0);
  overflow: hidden;
  color: #FFF;
  box-sizing: border-box;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}

.book-treemap .book:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
}

.book-treemap .book.expanded {
  transform: none !important;
  z-index: 2 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.book-treemap .book .notes {
  display: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  overflow: auto;
  box-sizing: border-box;
  max-height: 90%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.book-treemap .book .notes .note {
  padding: initial;
}

.book-treemap .book .notes-count {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  border-radius: 3px;
}

.book-treemap .book .close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  background: rgba(1, 1, 1, 0.1);
}

.book-treemap .book .close::after {
  content: '\2716';
  vertical-align: middle;
}

.book-treemap .book.expanded .notes {
  display: block;
}

.book-treemap .book.expanded .close {
  display: block;
}

.select-clippings-container {
  text-align: center;
}

.select-clippings {
  position: relative;
  display: inline-block;
  background-color: #00bcd4;
  color: #fff;
  border-radius: 5px;
  padding: 5vh 10vh;
  font-size: 24px;
  margin: 20vh 20vh 5vh 20vh;
  box-shadow: 5px 5px 3px 0px rgba(168,163,168,1);
  transition: all 0.2s;
  cursor: pointer;
}

.select-clippings.top {
  margin-top: 1vh;
  padding: 2vh 5vh;
}

.select-clippings .file {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
